
*.pyc
__pycache__/classes.cpython-311.pyc
__pycache__/percorre.cpython-311.pyc
tempCodeRunnerFile.py
__pycache__/classes.cpython-311.pyc
__pycache__/classes.cpython-311.pyc
/__pycache__
*.pyc
__pycache__/classes.cpython-311.pyc
__pycache__/classes.cpython-311.pyc
